<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div id="mapContainer" class="map"></div>
<div class="filters map-filters row">

  <form class="col l12 md6 s3" action="#">

    <div class="card" style="height: 650px">
      <div class="card-content">

        <span class="card-title">
          Filter events
        </span>

        <div class="row">
          <h5>Area size</h5>

          <div class="range-field">
            <div class="area-size-badge badge"></div>
            <input id="area-size" type="range" value="100000" min="1000" max="10000000">
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
