<%current_spotify_user.top_artists.each do |event|%>
  <div class="container">
    <div class="row">
      <div class="col s2 m2 h2"></div>
      <div id="events" class="col s6 m6 h6">
        <div class="row">
          <div class="card sticky-action horizontal">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="<%= event.images.first['url'] rescue nil %>" />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= event.name%><i class="material-icons right">more_vert</i></span>
              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
