
<!-- BODY -->
<h1>Map at a specified location</h1>
<p>This example displays a movable map initially centered on the <b>Brandenburg Gate</b> in the centre of Berlin (<i>52.5159°N, 13.3777°E</i>)</p>
<hr/>
<div id="mapContainer" style="width: 1000px; height: 700px; background: grey"></div>

<% content_for :javascripts do %>
  <script>

      var platform = new H.service.Platform({
          'app_id': 'ABCiZ2b67vjKqbX6E1ZJ',
          'app_code': 'do7aaovSpr9tNPfJkLxG4Q'
      });
      var geocoder = platform.getGeocodingService();

      var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
      };

      var err = function(err) {
        console.log(err);
      };

      var events = function(lat, long) {
          $.getJSON( "/dashboard.json", function( data ) {
              var datapoints = [];
              $.each(data, function( key, val ) {
                  $.each(val, function( key1, val1 ) {
                      datapoints.push(val1);
                  });
              });
              show(lat,long, datapoints);
          });

      };
      var show = function(lat, long, datapoints) {
          // Instantiate the map:
          var map = new H.Map(
              document.getElementById('mapContainer'),
              platform.createDefaultLayers().normal.map,
              {
                  zoom: 3,
                  center: { lat: lat, lng: long }
              });
          var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
          var ui = H.ui.UI.createDefault(map, platform.createDefaultLayers());

          var group = new H.map.Group();
          map.addObject(group);

          // add 'tap' event listener, that opens info bubble, to the group
          group.addEventListener('tap', function (evt) {
              alert('click happened');
              ui.addBubble(new H.ui.InfoBubble(evt.target.getPosition(), {content: evt.target.getData()}));
          }, false);

          $.each(datapoints, function(key, val) {
             addMarkerToGroup(group, {lat: val['coords']['lat'], lng: val['coords']['long']}, '<div>' + val['artist'] + ', on: ' + val['date'] + '</div>');
          });

      };

      var addMarkerToGroup = function(group, coordinate, html) {
          var marker = new H.map.Marker(coordinate);
          // add custom data to the marker
          marker.setData(html);
          group.addObject(marker);
      };


      document.addEventListener("turbolinks:load", function () {
          navigator.geolocation.getCurrentPosition(
              function(pos) {
                  var crd = pos.coords;
                  events(crd.latitude, crd.longitude)
              }, err, options);

          // App Id  :
          //     ABCiZ2b67vjKqbX6E1ZJ
          // App Code :
          //     do7aaovSpr9tNPfJkLxG4Q

              });
  </script>

<% end %>