<body class="landing">
  <a class="waves-effect waves-light btn login" href="/auth/spotify">
    <h6 class="login-text">Login with Spotify</h6>
  </a>
  <p class="landing-text">
    Complete strangers can stand silent next to each other in an elevator and not even
    look each other in the eye. But at a concert, those same strangers could find
    themselves dancing and singing together like best friends. That's the power of music.
  </p>
</body>
