<header class="navbar-fixed">
  <nav class="nav">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo"><%= image_tag('logo') %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <% if user_signed_in? %>
          <a class="dropdown-trigger right hide-on-med-and-down" href="#!" data-target="dropdown1">
            <%= image_tag current_user.avatar_url || 'default_avatar', class: 'avatar' %>
            <div> <%= current_spotify_user.display_name ||current_spotify_user.id if current_spotify_user  %> <i class="material-icons right">arrow_drop_down</i></div>
          </a>

          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to 'Sign out', sign_out_path, method: :post %> </li>
          </ul>
      <% end %>

    </div>
  </nav>
</header>
